.container {
  display: grid;

  grid-template-areas:
    "header header"
    "content side"
    "footer footer";

  grid-template-columns: 1fr 20rem;
  grid-template-rows: 4rem auto 4rem;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
  margin: 2rem;
}

aside {
  grid-area: side;
  margin: 1rem;
}

footer {
  grid-area: footer;
  text-align: center;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .container {
    margin: 0.5rem;
    grid-template-areas:
      "header"
      "side"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Sidebar */
      1fr /* Content */
      auto; /* Footer */
  }
  aside {
    margin: 2rem;
  }
}

button {
  outline: none;
  display: inline-block;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #514e9d;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: #0053ba;
}

.save-button {
  background-color: #b74f68;
  border-radius: 0%;
}
.saved-button {
  background-color: #e38c47;
  border-radius: 0%;
}
input,
select {
  width: 100%;
  opacity: 0.5;
  height: 2rem;
  margin: 0.5rem auto;
  box-sizing: border-box;
}
span {
  padding-right: 0.5rem;
}

i {
  background-repeat: no-repeat;
  height: 1.25rem;
  width: 1.25rem;
  display: block;
}

.icon-star {
  background-image: url("/star.svg");
}
.icon-thumbsup {
  background-image: url("/thumbsup.svg");
}
.icon-tab {
  background-image: url("/tab.svg");
}
.list {
  width: 100%;
}
.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 1rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-tags {
  grid-column: 2 / 4;
  grid-row: 1;
}
.card-image {
  max-width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 1 / 3;
}
.card-stars {
  grid-column: 2 / 3;
  grid-row: 2;
  align-self: end;
  justify-self: center;
  display: inline-flex;
}
.card-comments {
  grid-column: 3 / 3;
  grid-row: 2;
  align-self: end;
  justify-self: center;
  display: inline-flex;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
}
div.card-tags > ul > li {
  float: left;
  padding: 0.1rem;
  color: white;
  background-color: #27a58f;
  margin: 0.2rem;
  padding-right: 0.2rem;
}

div.saved-list > ul > li {
  text-decoration: none;
  width: 100%;
  display: flex;
}

h4 {
  text-align: center;
}

img {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
}
